:root {
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
    --text-color: #fff;
    --button-bg: #1e90ff;
    --button-bg-hover: #1c86ee;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffff;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10;
    transition: all 400ms ease;
  }
  
  .back-button:hover {
    font-size: 5.5rem;
  }
  .header__wrapper header {
    width: 100%;
    background: url("../assets/images/bg.jpeg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
    position: relative;
  }
  .header__wrapper .cols__container .left__col{
    position: relative;
  }
  .header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -62px;
    left: 14%;
    transform: translatex(-50%);
  }
  .header__wrapper .cols__container .left__col .img__container img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }
  .personal_details .p_details{
    padding-top: 12rem;
    padding-left: 5rem;
  }
  .personal_details .p_details h2{
    color: white;

  }
 /* Adjust buttons to be in line under About section */
.buttons {
  margin-top: 2rem;
  padding-left: 4rem;
  display: flex;
  gap: 1rem;
}

/* Style for logout button */
.buttons .logout-button {
  padding: 10px 20px;
  background-color: var(--bg-oxford-blue-2);
  color: #fff;  
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.buttons .logout-button:hover {
  background-color: var(--bg-oxford-blue);
}

/* Style for edit button */
.buttons .edit-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.buttons .edit-button:hover {
  background-color: #d32f2f;
}